spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://auth-service-db:${POSTGRES_PORT:5432}/${AUTH_SERVICE_DB:auth_service_database}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true
  sql:
    init:
      mode: always

logging:
  level:
      root: info

server:
  port: 8088
